.advantages {
  padding-top: 60px;

  @include screen("desktop") {
    padding-top: $big-space;
  }
}
.advantages-list {
  @include screen("tablet") {
    display: flex;
  }
}

.advantages-list__item {
  max-width: 450px;

  &:not(:last-child) {
    margin-bottom: $betw-space;
  }

  .icon-thumb {
    height: 120px;
    background-color: getColor("secondary-bgc");

    border-radius: 4px;
  }

  @include screen("tablet") {
    max-width: 354px;
    flex-direction: column;

    &:not(:last-child) {
      margin-right: $betw-space;
    }
  }

  @include screen("desktop") {
    max-width: 270px;
  }
}

.advantages-list__description {
  padding-top: 30px;
}

.advantages p {
  color: getColor("primary");
  line-height: 1.7;
}
