.regular-customer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.regular-customer__item {
  width: 210px;
  height: 90px;

  margin-bottom: $betw-space;

  border: 1px solid getColor("fill-icon");
  border-radius: 4px;

  &:hover {
    border: 1px solid getColor("hover");
    outline: none;
  }

  .icon-thumb {
    height: 90px;
    transition: var(--transition-menu);

    &:focus {
      border: 1px solid getColor("hover");
      outline: none;
    }
  }

  @media screen and (min-width: 480px) {
    &:not(:nth-child(2n)) {
      margin-right: $betw-space;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: $betw-space;
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 226px;

    &:not(:nth-child(3n)) {
      margin-right: $betw-space;
    }

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: $betw-space;
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 170px;

    &:not(:last-child) {
      margin-right: $betw-space;
    }
  }
}

.regular-customer__icon {
  fill: getColor("fill-icon");
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .icon-thumb:hover > &,
  .icon-thumb:focus > & {
    fill: getColor("hover");
  }
}
