.navigation {
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  border-bottom: 1px solid getColor("border-header");
}

.menu-block {
  display: flex;
}

.menu-block_item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.menu-block_link {
  display: block;
  padding-top: $menu-space;
  padding-bottom: $menu-space;
  transition: var(--transition-menu);

  &,
  &:visited {
    color: getColor("heading");
    text-decoration: none;
  }
  &:hover,
  &:focus {
    color: getColor("hover");
    outline: none;
  }
}

/* contacts */

.tel-block {
  display: flex;
  margin-left: auto;
}

.tel-block_link {
  @include aligh(flex, center);
  padding-top: $menu-space;
  padding-bottom: $menu-space;

  &,
  &:visited {
    color: getColor("primary");
    transition: var(--transition-menu);
  }

  &:hover,
  &:focus,
  &:hover > svg,
  &:focus > svg {
    fill: getColor("hover");
    color: getColor("hover");
    outline: none;
  }
}

.contact-icon {
  margin-right: 10px;
  fill: getColor("primary");
}

.active-menu:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: getColor("hover");
  outline: getColor("hover");
  margin-bottom: -1px;
}
