.banner {
  max-width: 1600px;
  height: 400px;

  margin: 0px auto;
  padding: 200px 0px 280px 0px;
  background: getColor("footer-bgc");
  background-image: var(--primary-gradient), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include screen("desktop") {
    height: 600px;
  }
}

.overlay {
  @include aligh(flex, center);
  flex-direction: column;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .banner {
    background-image: var(--primary-gradient), url("../images/hero@2x.jpg");
  }
}
