.logo_web {
  color: getColor("hover");
}
.logo,
.logo:visited {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  color: getColor("heading");
  @include font(24px, 700, 1.19);
  animation-duration: 250ms;

  @include screen("desktop") {
    @include font(26px, 700, 1.19);
    padding-top: 24px;
    padding-bottom: 25px;
    // margin-right: 93px;
  }

  .footer & {
    color: getColor("accent");

    margin: 0px;
    padding: 0px;
  }
}
