.main-button {
  width: 200px;
  height: 50px;

  background-color: getColor("hover");
  color: getColor("accent");

  @include font(16px, 500, 1.88);
  letter-spacing: 0.06em;
  cursor: pointer;

  border-radius: 4px;
  border: none;

  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  .custom-information & {
    margin-top: 30px;
    align-self: center;
  }
  .overlay & {
    margin-top: 40px;
    padding-left: $menu-space;
    padding-right: $menu-space;
  }

  .subscribe & {
    @include aligh(flex, center);
    padding-left: 29px;
    margin-left: 12px;
  }
}
