h1 {
  color: getColor("accent");
  text-align: center;
  @include font(26px, 900, 1.62);
  letter-spacing: 0.06em;

  @include screen("desktop") {
    @include font(44px, 900, 1.36);
  }
}

h2 {
  @include font(28px, 700, 1.17);
  color: getColor("heading");
  text-align: center;
  padding-bottom: 30px;

  @media screen and (min-width: 768px) {
    padding-bottom: 50px;
  }

  @media screen and (min-width: 1200px) {
    @include font(36px, 700, 1.17);
  }
}

h3 {
  .advantages & {
    padding-bottom: 10px;
    @include font(14px, 700, 1.17);
  }
  .team & {
    color: getColor("heading");
    @include font(16px, 500, 1.17);
    padding-bottom: 10px;
  }
  .card__info & {
    color: getColor("heading");
    @include font(18px, 700, 2);
  }
}
