h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  @include font(14px, 400, 1.14);
  letter-spacing: 0.03em;
}
.accent--color--link,
.accent--color--link:visited {
  color: getColor("accent");
}
.space-sections {
  padding-top: $big-space;
  padding-bottom: $big-space;
}

.between-block {
  padding-top: 60px;
  padding-bottom: 60px;
}

.icon-thumb {
  @include aligh(flex, center);
  justify-content: center;
  width: 100%;
}

.heading-dark-fon {
  color: getColor("accent");

  @include font(14px, 700, 1.17);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
}
