.container {
  width: 100%;
  padding: 0px 15px 0px 15px;

  .navigation & {
    @include aligh(flex, center);
    justify-content: space-between;
  }

  @include screen("mobi") {
    width: 448px;
    margin: 0px auto;
  }

  @include screen("tablet") {
    width: 768px;
  }

  @include screen("desktop") {
    width: 1200px;

    .navigation &,
    .footer & {
      justify-content: center;
    }
  }
}
